<!DOCTYPE html>
<html lang="en" ng-app="Descript">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adson Esteves</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <link href="css/principal.css" rel="stylesheet">
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Adson Esteves</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#EU">Quem sou</a></li>
              <li><a href="#Trabalhos">Trabalhos</a></li>
              <li><a href="#Competencias">Competências</a></li>
              <li><a href="#Depoimentos">Depoimentos</a></li>
            <li><a href="#Contato">Contato</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="hoe2">

      <!-- Main jumbotron for ao primary marketing message or call to action -->
      <div class="jumbotron shin-secao1">
        <h1>Adson Esteves</h1>
        <p>Shinjikun</p>
      </div>
        
        <div class="col-md-12 col-xs-12 shin-secao-base" id="EU">
        <h1>Quem sou</h1>
          <div class="well shin-texto2">
              <img src="https://scontent.fudi1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/11138163_537430916397469_6262916069081125972_n.jpg?oh=c3c99b67d88b63418058cad57eeee962&oe=577F3C86" alt="" class="img-circle" />
        <p>
            Meu nome é Adson Marques da Silva Esteves, sou programador, e estudante de ciencias da computação, atualmente no 5º período. Trabalho no laboratório LITE(Laboratório de Inovação Tecnologia da Educação), trabalhando no desenvolvimento da IDE de aprendizado Portugol Studio. Tenho 20 anos, moro em Itajaí e gosto de Animes e Jogos.
            Uso Pseudônimo de Shinjikun em certos lugares.
            
        </p>
        </div> 
      </div> 
        
         <div class="col-md-12 col-xs-12 shin-secao-base" id="Trabalhos">
        <h1>Trabalhos</h1>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner shin-image_carousel" role="listbox">
          <div class="item active">
              <a target="_blank" href="https://github.com/BeholderDEV/OPKCalculator">
            <img src="OPKCalcprint.png" alt="First slide" class="shin-image-carousel">
            </a>
              <p>OPK Calculator</p>
          </div>
          <div class="item">
              <a target="_blank" href="https://github.com/BeholderDEV/OPKPhotoFilter">
            <img src="OPKpfprint.png" alt="Second slide" class="shin-image-carousel">
              </a>
              <p>OPK PhotoPhilter</p>
          </div>
          <div class="item">
              <a target="_blank" href="https://github.com/UNIVALI-LITE/Portugol-Studio">
            <img src="Portugolprint.png" alt="Third slide" class="shin-image-carousel">
              </a>
              <p>Portugol Studio</p>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

      <div class="col-md-12 col-xs-12 shin-secao-base" ng-controller = "DescriptController as descrito" id="Competencias">
          <section class="col-md-12 col-xs-12 tab" ng-controller="TabController as tab">
              <h1>Competências</h1>
                <ul class="nav nav-pills">
                  <li ng-class="{ active: tab.isSet(1) }">
                    <a href ng-click="tab.setTab(1)">
                        <img src="img/cplusplus.png">
                        C++
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(2) }">
                    <a href ng-click="tab.setTab(2)">
                        <img src="img/java.png">
                        JAVA
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(3) }">
                    <a href ng-click="tab.setTab(3)">
                        <img src="img/php.png">
                        PHP
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(4) }">
                    <a href ng-click="tab.setTab(4)">
                        <img src="img/lua.png">
                        LUA
                        </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(5) }">
                    <a href ng-click="tab.setTab(5)">
                        <img src="img/golang.png">
                        GO
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(6) }">
                    <a href ng-click="tab.setTab(6)">
                        <img src="img/javascript.png">
                        Javascript
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(7) }">
                    <a href ng-click="tab.setTab(7)">
                        <img src="img/htmlcss.png">
                        HTML/CSS
                        </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(8) }">
                    <a href ng-click="tab.setTab(8)">
                        <img src="img/corel.png">
                        Corel
                      </a>
                    </li>
                  <li ng-class="{ active: tab.isSet(9) }">
                    <a href ng-click="tab.setTab(9)">
                        <img src="img/photoshop.png">
                        Photoshop
                      </a>
                    </li>  
                </ul>
              <div class="col-md-12 col-xs-12 well shin-texto">
                <div ng-show="tab.isSet(1)">
                  {{descrito.texto.C}}
                </div>
                <div ng-show="tab.isSet(2)">
                  {{descrito.texto.JAVA}}
                </div>
                <div ng-show="tab.isSet(3)">
                   {{descrito.texto.PHP}}
                </div>
                <div ng-show="tab.isSet(4)">
                  {{descrito.texto.LUA}}
                </div>
                <div ng-show="tab.isSet(5)">
                  {{descrito.texto.GO}}
                </div>
                <div ng-show="tab.isSet(6)">
                   {{descrito.texto.Javascript}}
                </div>
                <div ng-show="tab.isSet(7)">
                  {{descrito.texto.HTMLCSS}}
                </div>
                <div ng-show="tab.isSet(8)">
                  {{descrito.texto.Corel}}
                </div>
                <div ng-show="tab.isSet(9)">
                   {{descrito.texto.Photoshop}}
                </div>
            </div>
      </section>
      </div>

      

    <div class="col-md-12 col-xs-12 shin-secao-base" id="Depoimentos">
        <h1>Depoimentos</h1>
      <div class="shin-center">
    <div id="block" class="col-md-6 col-xs-12 shin-comentarios">
		<h3></h3>
		<div class="photo">
			<img src="img/photo.gif" alt="" class="img-circle" />
		</div>
		<p class="content"><span class="laquo">&nbsp;</span>FIRST!<span class="raquo">&nbsp;</span></p>
		<div class="sign">
			<a href="#">Non Non</a>
		</div>
	</div>
        
    <div id="block" class="col-md-6 col-xs-12 shin-comentarios">
		<h3></h3>
		<div class="photo">
			<img src="img/photo2.gif" alt="" class="img-circle" />
		</div>
		<p class="content"><span class="laquo">&nbsp;</span>Nossa cara, que lindo.<span class="raquo">&nbsp;</span></p>
		<div class="sign">
			<a href="#">Amanda</a>
		</div>        
	</div>
    </div>      
      <div>
        <form name="input" class="col-md-12 col-xs-12" action="depoimento.txt" method="get">
            
            <div class="form-group col-xs-12 col-md-6 shin-h3">
                <h3>Nome:</h3>
                <input class= "shin-caixa" type="text" name="name">
            </div>
            
            <div class="form-group col-xs-12 col-md-6 shin-h3">
                <h3>E-mail:</h3>
                <input type="email" name="e-mail">
            </div>
            
            <div class="form-group col-xs-12 col-md-12 shin-h3">
                <h3>Depoimento: </h3>
                <textarea class = "shin-testmonial" placeholder="Deixe seu depoimento"></textarea>
                <div>
                <input type="submit" value="Enviar">
                </div>
            </div>           
            
          </form>
      </div>
        </div>  
      

      <div class="col-md-12 col-xs-12 shin-secao-base" id="Contato">
        <h1>Contato</h1>
          <a target="_blank" href="https://www.facebook.com/adson.esteves">
              <img src="img/face.png" alt="" class="img-circle"/>
          </a>
          <a target="_blank" href="https://plus.google.com/u/0/+AdsonEstevesShinji">
              <img target="_blank" src="img/google.png" alt="" class="img-circle"/>
          </a>
          <a target="_blank" href="https://github.com/AdsonEsteves">
              <img target="_blank" src="img/github.gif" alt="" class="img-circle"/>
          </a>
        <div class="well shin-texto2">
        <p>
            Nome: Adson Marques da Silva Esteves
        </p>
            <p>E-MAIL: shinadson@gmail.com</p>
            <p>Telefone: 3046-0688</p> 
            <p>Tempo Médio de Resposta: 1 semana</p>
        
        </div> 
      <form name="input" class="col-md-12 col-xs-12">
            <h3>Me mande uma mensagem</h3>
            <div class="form-group col-xs-12 col-md-6 shin-h3">
                <h3>Nome:</h3>
                <input class= "shin-caixa" type="text" name="name">
            </div>
            
            <div class="form-group col-xs-12 col-md-6 shin-h3">
                <h3>E-mail:</h3>
                <input type="email" name="e-mail">
            </div>
            
            <div class="form-group col-xs-12 col-md-12 shin-h3">
                <h3>Mensagem: </h3>
                <textarea class = "shin-testmonial" placeholder="Mande sua mensagem"></textarea>
                <div>
                <input type="submit" value="Enviar">
                </div>
            </div>         
            
          </form>
    </div>

    </div> <!-- /container -->




    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jsbutton.js"></script>
  </body>
</html>